repos:
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v1.0.1
      hooks:
          - id: reorder-python-imports
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v1.3.0
      hooks:
          - id: check-ast
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: flake8
            additional_dependencies:
                - flake8-bugbear==18.2.0
                - flake8-builtins==1.4.1
                - flake8-comprehensions==1.4.1
                - flake8-per-file-ignores==0.6
                - flake8-tidy-imports==1.1.0
                - flake8==3.5.0
                - pycodestyle<2.4.0,>=2.0.0
          - id: trailing-whitespace
    - repo: https://github.com/asottile/yesqa
      rev: v0.0.6
      hooks:
          - id: yesqa
            additional_dependencies:
                - flake8-bugbear==18.2.0
                - flake8-builtins==1.4.1
                - flake8-comprehensions==1.4.1
                - flake8-per-file-ignores==0.6
                - flake8-tidy-imports==1.1.0
                - flake8==3.5.0
                - pycodestyle<2.4.0,>=2.0.0
    - repo: https://github.com/thlorenz/doctoc
      rev: v1.3.1
      hooks:
        - id: doctoc
    - repo: https://github.com/asottile/pyupgrade
      rev: v1.3.1
      hooks:
        - id: pyupgrade
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v0.6.4
      hooks:
        - id: add-trailing-comma
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.641
      hooks:
        - id: mypy
          exclude: >
            (?x)^(
              tests/.*|
            )$
