repos:
    - repo: https://github.com/psf/black
      rev: stable
      hooks:
        - id: black
    - repo: https://github.com/asottile/reorder_python_imports
      rev: v2.3.6
      hooks:
          - id: reorder-python-imports
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.1.0
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.4.0
      hooks:
          - id: check-ast
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
          - id: check-merge-conflict
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: trailing-whitespace
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.8.4
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-bugbear
                - flake8-builtins
                - flake8-comprehensions
    - repo: https://github.com/asottile/yesqa
      rev: v1.2.2
      hooks:
          - id: yesqa
            additional_dependencies:
                - flake8==3.8.3
                - flake8-bugbear
                - flake8-builtins
                - flake8-comprehensions
    - repo: https://github.com/thlorenz/doctoc
      rev: v2.0.0
      hooks:
        - id: doctoc
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.7.4
      hooks:
        - id: pyupgrade
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v0.800
      hooks:
        - id: mypy
          additional_dependencies:
            - pynamodb==5.0.0
